<div class="bg-black w-full overflow-hidden">
    <div class="sm:px-16 px-6 flex justify-center items-center">
      <div class="xl:max-w-[1280px] w-full">
          <app-navbar></app-navbar>
      </div>
    </div>
    <div class="bg-black xl:max-w-[1280px] w-full sm:px-16 px-6">
        <section id="scroll" appSection="four" class="flex justify-start items-center sm:py-16 py-6 flex-col relative md:px-16 px-10">
            <div class="absolute z-[0] w-[60%] h-[60%] -right-[50%] rounded-full blue__gradient"></div>
            <div class="w-full flex justify-start items-center md:flex-row flex-col sm:mb-16 mb-6 relative z-[1]">
                <h1 class="font-poppins font-semibold xs:text-[48px] text-[40px] text-white xs:leading-[76.8px] leading-[66.8px] w-full"> What people are <br class="sm:block hidden"/> saying about us </h1>
                <div class="w-full md:mt-0 mt-6">
                    <p class="font-poppins font-normal text-white text-[18px] leading-[30.8px] text-left max-w-[450px]"> Everything you need to accept card payments and grow your business anywhere on the planet. </p>
                </div>
            </div>
            <div class="flex flex-wrap justify-start w-full feedback-container relative z-[1]">
                <!-- la parte del feedback -->
                <div *ngFor="let feedback of feedbacks" class="flex justify-between flex-col px-10 py-12 rounded-[20px] max-w-[370px] md:mr-10 sm:mr-5 my-5 mr-0 feedback-card">
                    <img src="../assets/quotes.svg" alt="double_quotes" class="w-[42px] h-[27px] object-contain" />
                    <p class="font-poppins font-normal text-[18px] leading-[32px] text-white my-10">{{feedback.content}}</p>
                    <div class='flex flex-row '>
                        <img src="{{feedback.img}}" alt={name} class='w-[48px] h-[48px] rounded-full' />
                        <div class="flex flex-col ml-4">
                            <h4 class='font-poppins font-semibold text-[24px] leading-[32px] text-white'> {{feedback.name}} </h4>
                            <p class='font-poppins font-normal text-[16px] leading-[24px] text-dimWhite'>{{feedback.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
  