<section class="flex justify-center items-center sm:py-16 py-6 flex-col">
    <div class="flex justify-center items-start md:flex-row flex-col mb-8 w-full">
        <div class="flex-1 flex flex-col justify-start mr-10">
            <img src="../assets/logo.svg" alt="" class="w-[266px] h-[72px] object-contain">
            <p class="font-poppins font-normal text-white text-[18px] leading-[30.8px] mt-4 max-w-[310px]"> A new way to make the payments easy, reliable and secure </p>
        </div>
        <div class="flex-1 w-full flex flex-row justify-between flex-wrap md:mt-0 mt-10">
            <div class="flex flex-col ss:my-0 my-4 min-w-[150px]" *ngFor="let footerlink of footerLinks">
                <h4 class="font-poppins font-medium text-[18px] leading-[27px] text-white"> {{footerlink.title}} </h4>
                <ul class="list-none mt-4">
                    <li class="font-poppins font-normal text-[16px] leading-[24px] text-dimWhite hover:text-secondary cursor-pointer"> {{footerlink.links[1].name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col justify-between items-center sm:flex-row  pt-6 border-t-[1px] border-t-[#3F3E45]">
        <div>
            <p class="font-poppins font-normal flex justify-start items-end text-start sm:text-[18px] text-[14px] leading-[27px] text-white"> Copyright Ⓒ 2023 HooBank. All Rights Reserved. </p>
        </div>
         <div class="flex sm:flex-row flex-row mt-5">
            <img src="{{socialMedia.icon}}" alt="" *ngFor="let socialMedia of socialMedias" class="w-[21px] h-[21px] object-contain cursor-pointer mr-5 sm:mb-5">         
        </div>
       </div>
</section> 
          