
<section class="flex md:flex-row flex-col sm:py-16 py-6">
    <div class="flex-1 flex justify-center items-start flex-col xl:px-0 sm:px-16 px-6 pt-[153px]">
        <div class="flex flex-row items-center py-[6px] px-4 bg-discount-gradient rounded-[10px] mb-2">
            <img  class="w-[32px] h-[32px]" src="../assets/Discount.svg" alt="" >
            <p class="font-poppins font-normal text-white text-[18px] leading-[30.8px] ml-2 ">
                <span class="text-white">20%</span> Discount For
                <span class="text-white">1 Month</span> Account
            </p>
        </div>
        <div class="flex-1 flex-row justify-between items-center w-full">
            <h1 class="flex-1 font-poppins font-semibold ss:text-[72px] text-[52px] text-white ss:leading-[100.8px] leading-[75px]">
                The Next <br class="sm:block hidden" />
                <span class="text-gradient">Generation</span>
            </h1>
            <!-- <div>
                <app-getstarted class="ss:flex md:mr-4 mr-0"></app-getstarted>
            </div> -->
            <h1 class="font-poppins font-semibold ss:text-[68px] text-[52px] text-white ss:leading-[100.8px] leading-[75px] w-full">
                Payment Method.
                </h1>
                <p class="font-poppins font-normal text-white text-[18px] leading-[30.8px] max-w-[470px] mt-5">
                Our team of experts uses a methodology to identify the credit cards
                most likely to fit your needs. We examine annual percentage rates,
                annual fees.
                </p>
        </div>
    </div>
    
    <div class=" flex-1 flex justify-center items-center md:my-0 my-10 relative">
        <img src="../assets/robot.png" alt="" class="w-[100%] h-[100%] relative z-[5]">
    </div>
</section>


