<section class="flex justify-center items-center flex-row flex-wrap sm:mb-20 mb-6 sm:px-16 px-6">
    <div *ngFor="let stat of stats; index as i" class="flex-1 flex justify-start items-center flex-row m-2">
        <h4 class="font-semibold xs:text-[40px] text-[30px] xs:leading-[53px] leading-[43px] text-white">{{stat.value}}</h4>
        <p class="font-normal xs:text-[20px] text-[15px] xs:leading-[26px] leading-[21px] text-gradient uppercase ml-3 text-white">{{stat.title}}</p>
    </div>
</section>
