<section class="flex md:flex-row flex-col-reverse sm:py-16 py-6">
    <div class="flex-1 flex justify-center items-center md:mr-10 mr-0 md:mt-0 mt-10 relative">
        <img src="../assets/bill.png" alt="billing" class='w-[90%] h-[90%] relative z-[50]'/>
        <div class="absolute z-[3] -left-1/2 top-0 w-[50%] h-[50%] rounded-full white__gradient" ></div>
        <div class="absolute z-[0] -left-1/2 bottom-0 w-[50%] h-[50%] rounded-full pink__gradient"></div>  
    </div>
    <div class="flex-1 flex justify-center items-start flex-col">
        <h2 class="font-poppins font-semibold xs:text-[48px] text-[40px] text-white xs:leading-[76.8px] leading-[66.8px] w-full"> Easily control your <br class='sm:block hidden' /> billing & invoicing </h2>
        <p class="font-poppins font-normal text-white text-[18px] leading-[30.8px] max-w-[470px] mt-5">  Elit enim sed massa etiam. Mauris eu adipiscing ultrices ametodio
        aenean neque. Fusce ipsum orci rhoncus aliporttitor integer platea
        placerat. </p>
        <div class='flex flex-row flex-wrap sm:mt-10 mt-6'>
            <img  src="../assets/apple.svg" alt="apple_store" class="w-[128px] h-[42px] object-contain mr-5 cursor-pointer" />
            <img  src="../assets/google.svg"  alt="google_play" class="w-[128px] h-[42px] object-contain cursor-pointer" />

        </div> 
    </div>
</section>

